<div class="bgImg">
  <div class="loginBg">
        <h1>Login</h1>
        <form action="/login" method="POST" class="loginForm">
          <% if(messages.error) { %>
            <span class="form-text"><%= messages.error %></span>
          <% } %>
    
              <div class="inputGroup">
                <label for="email-address">Email address</label><br>
                <input  class ="inputBox" id="email-address" name="email" type="email" autocomplete="email" value="<%= messages.email %>" required  placeholder="Email address">
              </div>
              <div class="inputGroup">
                <label for="password" class="sr-only">Password</label><br>
                <input class="inputBox" id="password" name="password" type="password" autocomplete="current-password" required placeholder="Password">
              </div>
              
              <div style="margin-left: 30%;">
                <button type="submit" class="btn btns mt-3">
                  Sign in
                </button>
              </div>
        
        </form>
  </div>
</div>