<% items.forEach(function(item){ %>

<br>
<li>
    <h1>Item Name: <%= item.name %></h1>
    <h2>Price: <%= item.price %></h2>
    <button data-item="<%= JSON.stringify(item) %>" class="add-to-cart"><strong>Add</strong></button>
</li>
<br>    

<% }) %>
