<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title></title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Palanquin&family=Palanquin+Dark&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Rasa&family=Ribeye&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light navstyle">
            <div class="container-fluid ">
              <a class="navbar-brand logo" href="/" style="color: white;"><img style="width: 55px; height: 55px; margin-left: 20px;" src="/img/android-chrome-192x192.png"></a>

              <div class="navItems">
                <button class="hamburger" id="hamburger">
                  <i class="las la-bars"></i>
                </button>
                <ul class="navbar-nav nav-ul" id="nav-ul" >
                  
                  <li class="nav-item justify-content-end">
                    <a href="/" class="nav-link active" aria-current="page" style="color: white;">Menu</a>
                  </li>
                  <% if(user) { %>
                    <% if(user.role == "admin") { %>
                      <li class="nav-item justify-content-end">
                        <a href="/admin/orders" class="nav-link active"  style="color: white;">Orders</a>
                      </li>
                      <li class="nav-item justify-content-end">
                        <a href="/admin/menu" class="nav-link active"  style="color: white;">Edit Menu</a>
                      </li>
                      <li class="nav-item justify-content-end">
                        <form id="logout" action="/logout" method="POST">
                            <a onclick="document.getElementById('logout').submit()" href="#" style="color: white;" class="nav-link active">Logout</a>
                        </form>
                      </li>
                    <% } else { %> 
                      <li class="nav-item justify-content-end">
                        <a href="/customer/orders" class="nav-link active"  style="color: white;">Your Orders</a>
                      </li>
                      <li class="nav-item justify-content-end">
                        <a href="/profile" class="nav-link active"  style="color: white;">Profile</a>
                      </li>
                      <li class="nav-item justify-content-end">
                      <form id="logout" action="/logout" method="POST">
                          <a onclick="document.getElementById('logout').submit()" href="#" style="color: white;" class="nav-link active">Logout</a>
                      </form>
                      </li>
                      <li class="justify-content-end">
                        <a href="/cart" class="nav-link active"  style="color: white;"><i class="las la-shopping-cart cart"></i> <span id="cartCounter"><%= session.cart ? session.cart.totalQty : '' %></span></a>
                      </li>
                    <% } %> 
                  <% } else { %>
                  <li class="nav-item justify-content-end">
                    <a href="/register" class="nav-link active"  style="color: white;">Register</a>
                  </li>
                  <li class="nav-item justify-content-end">
                    <a href="/login" class="nav-link active"  style="color: white;">Login</a>
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
          </nav>
        
        
            <%- body %>

             <!-- FOOTER -->
<footer style="padding-bottom: 0; margin-bottom: 0;  margin-top: 75px; height: 350px; min-width: 500px;">
  
      <div class="container">
        <div class="row d-flex align-items-center mb-5" style="margin-left: 100px">
          <div class="col-md-6 col-lg-5 text-center">
            <h2 class="mb-0" style="padding: 70px 0 0 0;">Follow Us On Social Media</h2>
            <div class="container-md mx-auto">
              <a href="#" class="nav-link active" style="color: black; padding-right: 20px;"><i class="lab la-4x la-facebook"></i></a>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 text-center">
            <h2 class="mb-0" style="padding: 50px 0 0 50px;">Call Us At</h2>
            <div class="container-md mx-auto">
              <a href="#" class="nav-link active" style="color: black; padding-right: 20px;"><i class="las la-4x la-phone-volume"></i>123-456-789</a>
            </div>
          </div>
        </div>
      </div>
    
</footer>


            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  
        <script src="https://js.stripe.com/v3/"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/app.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    </body>
</html>