<<<<<<< HEAD
<table>
    <thead>
        <tr>
            <th>Orders</th>
            <th>Customer</th>
            <th>Mobile</th>
            <th>Status</th>
            <th>Placed at</th>
            <th>Payment Status</th>
        </tr>
    </thead>
    <tbody id="orderTableBody">
    </tbody>
</table>
=======
<div class="d-flex justify-content-center ordersTable">
    <table>
        <thead>
            <tr>
                <th>Orders</th>
                <th>Customer</th>
                <th>Mobile</th>
                <th>Status</th>
                <th>Placed at</th>
            </tr>
        </thead>
        <tbody id="orderTableBody">
        </tbody>
    </table>
</div>
>>>>>>> b02bbb6ed5ce26d5c477c1ad0e25021a1073c014
