<br>
<h1 style="color: #FF7314;">Orders</h1>
<% if(messages.success) { %>
<div id="success-alert" role="alert">
    <div class="bubble">
        <h3><%= messages.success %></h3>
    </div>
</div>
<% } %>
<br>
<div class="orderTableBg p-4">
    <div class="row">
        <div class="col-md">Orders</div>
        <div class="col-md">Time</div>
    </div>
     <% if(orders.length) { %>
        <% orders.forEach((order) => { %>
            <div class="itemBox">
                <div class="row">
                        <div class="col-md">
                            <td><a class="link" href="/customer/orders/<%= order._id %>"><%= order._id %></a></td>
                        </div>
                        <div class="col-md">
                            <td><%= moment(order.createdAt).format('hh:mm A') %></td>
                        </div>    
                </div>
            </div>
        <% }) %>
     <% } else { %>
        <div class="row">
            <h3>No Orders Placed</h3>
        </div>
     <% } %>
</div>